/* Generic CSS */
html,
body {
    height: 100%;
}

.heading-space {
    margin-top: 80px;
}

.heading-space-img {
    margin-top: 60px;
}

.rating {
    color: #fdcc0d;
    font-size: 20px;
    margin: 2px;
}

/* CSS for login, forgotpassword, changepassword, signup */
.bg-image {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("../User/pre-login/banner-with-overlay.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image-signup {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("../User/pre-login/banner-with-overlay.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    zoom: 88%;
}

.form-container {
    padding: 35px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 15px;
}

.title-heading h3 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

.title-heading p {
    margin-top: 15px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}

input[type=email],
input[type=password],
input[type=text],
input[type=date] {
    border: 1px solid #6255a5;
    height: 40px;
    border-radius: 3px;
}

#login-button {
    margin-top: 25px;
    background-color: #6255a5;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: 600;
}

.label-text {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

#forgot-password {
    float: right;
}

    #forgot-password a {
        color: #6255a5;
    }

#form-ftext {
    margin-top: 10px;
}

#form-ltext {
    margin-top: 10px;
}

#form-mail-1 {
    margin-top: 10px;
}

#form-mail {
    margin-top: 10px;
}

#form-date {
    margin-top: 10px;
}

#form-passwd {
    margin-top: 10px;
}

.form-check-input {
    border: 1px solid #d1d1d1;
    width: 20px;
    height: 15px;
    border-radius: 3px;
}

.field-icon {
    margin-left: -30px;
    margin-top: -23px;
    margin-right: 7px;
    float: right;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=date]:focus {
    -webkit-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    border: 1px solid #6255a5;
}

#login-button:focus {
    -webkit-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
}

.login-bottom {
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    text-align: center;
}

    .login-bottom a {
        color: #6255a5;
    }

.title-heading h4 {
    color: green;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
}

.passwd-details {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #333333;
}

#login-msg p {
    color: red;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

#forgot-msg p {
    color: green;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}
/* User Profile */
#userprofile-header {
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    background-image: url('../User/User-Profile/banner-with-overlay.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}

#userprofile-title-main {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    color: #fff;
}

#userprofile-page {
    height: 100%;
}

#userprofile-header h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 52px;
    color: #fff;
}

#basic-profile select {
    border: 1px solid #6255a5;
    height: 40px;
    border-radius: 3px;
}

    #basic-profile select:focus {
        -webkit-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        border: 1px solid #6255a5;
    }

#form-group-1 {
    margin-top: 10px;
}

#ph-n {
    margin-top: 13px;
}

#form-profile {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.image-upload {
    border: 1px solid #6255a5;
    border-radius: 3px;
}

.image-upload-1 {
    border: 1px solid #6255a5;
    border-radius: 3px;
}

.image-upload input {
    margin-left: -55px;
    margin-top: 60px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #d1d1d1;
}


.image-upload-1 input {
    margin-left: -55px;
    margin-top: 95px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #d1d1d1;
}

#basic-profile img {
    height: 35px;
    position: absolute;
    top: 44%;
    left: 42%;
}

#form-adr-1 {
    margin-top: 10px;
}

#form-adr-2 {
    margin-top: 10px;
}

#form-city {
    margin-top: 10px;
}

#form-state {
    margin-top: 10px;
}

#form-zip {
    margin-top: 10px;
}

#address-detail select {
    border: 1px solid #6255a5;
    height: 40px;
    border-radius: 3px;
}

    #address-detail select:focus {
        -webkit-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        border: 1px solid #6255a5;
    }

#form-uni {
    margin-top: 10px;
}

#form-clg {
    margin-top: 10px;
}

#userprofile-title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    margin-top: 20px;
    color: #6255a5;
}

.cal-img {
    margin-left: -30px;
    margin-top: -27px;
    margin-right: 7px;
    float: right;
    color: #d1d1d1;
}

/* Footer */

.main-wrapper {
    padding: 0 0 100px;
    position: relative;
    min-height: 100%;
}

footer {
    border-top: 0.5px solid #6255a5;
    margin-top: 10px;
    padding: 20px;
}

    footer p {
        color: #6255a5;
        line-height: 20px;
        margin: 0;
    }

ul.social-list {
    padding: 0;
}

    ul.social-list li {
        display: inline-block;
        padding: 0;
    }

        ul.social-list li a {
            border: 1px solid #6255a5;
            width: 35px;
            height: 35px;
            display: inline-block;
            line-height: 35px;
            color: #6255a5;
            border-radius: 50%;
            -webkit-transition: all 400ms linear;
            transition: all 400ms linear;
        }

        ul.social-list li:nth-child(1) a:hover {
            background: #3b5998;
            color: #fff;
            border-color: transparent;
        }

        ul.social-list li:nth-child(2) a:hover {
            background: #00aced;
            color: #fff;
            border-color: transparent;
        }

        ul.social-list li:nth-child(3) a:hover {
            background: #dd4b39;
            color: #fff;
            border-color: transparent;
        }



/* Email-Verification */
.bg {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*background-color: black;*/
    height: 100%;
    width: 100%;
}

#message-container {
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
}

    #message-container h3 {
        margin-top: 40px;
        font-family: "Open Sans", sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
        color: #6255a5;
    }

    #message-container h5 {
        margin-top: 25px;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: #333333;
    }

    #message-container p {
        margin-top: 20px;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #333333;
    }

#login-button-2 {
    margin-top: 35px;
    background-color: #6255a5;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: 600;
}

    #login-button-2:focus {
        -webkit-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
    }

#temp-msg {
    color: red;
}
/* Home Page */
#home-page {
    height: 100%;
}

#home-page-1 {
    padding: 120px 0;
}

.home-banner {
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    background-image: url('../User/home/banner-with-overlay.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}

#home-title h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    color: #fff;
}

#home-title p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}

.btn-general {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn-home {
    color: #fff;
    border: 1px solid #fff;
}

    .btn-home:hover,
    .btn-home:focus {
        color: #6255a5;
        background-color: #fff;
        border: 1px solid #fff;
    }

/* Padding */
.content-box-lg {
    padding: 32px 0;
}

.content-box-md {
    padding: 16px 0;
}

#about-left h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

#about-right p:first-child {
    margin-bottom: 30px;
}

#work {
    background-color: #f4f4f4;
}

#work-title h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

#work-bottom h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
}

#work-bottom p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}

#work-image {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    padding: 13px;
    /* margin-left: 42%; */
    margin: auto;
}

.btn-home-1 {
    color: #fff;
    background-color: #6255a5;
}

    .btn-home-1:hover,
    .btn-home-1:focus {
        color: #fff;
        background-color: #6255a5;
    }

.btn-home-cancel {
    color: #fff;
    background-color: red;
}

    .btn-home-cancel:hover,
    .btn-home-cancel:focus {
        color: #fff;
        background-color: red;
    }
#customer-title h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

.customer-box {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px;
}

#customer-heading {
    margin-top: 18px;
}

    #customer-heading h5 {
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 24px;
        color: #6255a5;
    }

    #customer-heading h6 {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 12px;
        color: #333333;
    }

#customer-review {
    margin-top: 20px;
}

/* Search Notes */
#search-page-header {
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    background-image: url('../User/Search/banner-with-overlay.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}

#search-page-title {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    color: #fff;
}

.search-notes-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
}

#search-page-top {
    margin-top: 20px;
    padding: 30px;
    background-color: #f4f4f4;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#search-page-top .search-field {
    -webkit-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    border: 1px solid #d1d1d1;
}

#search-page-top select:focus {
    -webkit-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    border: 1px solid #d1d1d1;
}

.card {
    margin: 20px;
    
}

.card-text 
{
    height: 140px;
}

.card-title a{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #6255a5;
    height: 80px;
    text-decoration: none;
}

.card-img {
    height: 100%;
}


#book-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

    #book-list span {
        margin-left: 6px;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: #333333;
    }

#star {
    color: #c59608;
}

/* Pagination  */
.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .pagination a {
        padding: 10px 15px;
    }

    .pagination > .active > a,
    .pagination > .active > a:hover {
        background-color: #6255a5;
        color: #fff;
        border-radius: 50%;
    }

    .pagination > li > a,
    .pagination > li > a:hover {
        border: none;
        background-color: white;
        color: #333333;
    }

    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

/* Notes Details */

.note-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.heading {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

.note-info {
    margin: 30px 0 0 30px;
}

.note-details .note-name h3 {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a6;
    margin: 0;
    margin-bottom: 10px;
}

.note-details .note-name h4 {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    margin-bottom: 20px;
}

.note-details .note-name p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    margin: 30px 0;
}

.note-details .about-book span i {
    color: #fdcc0d;
}

.note-details .about-book p {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    color: #333333;
    margin: 7px;
}

    .note-details .about-book p:last-child {
        color: #df3434;
        font-size: 14px;
        line-height: 35px;
    }

.note-details .about-book span {
    color: #6255a6;
    float: right;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 36px;
}

#line {
    height: 1px;
    background-color: #d1d1d1;
}

.center-block-horiz {
    margin-left: auto !important;
    margin-right: auto !important;
}

.set-margin-cicis-menu-to-go {
    margin: 20px;
}

.set-border-cicis-menu-to-go {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}

set-box-shadow-cicis-menu-to-go {
    -webkit-box-shadow: 4px 4px 14px #4f4f4f;
    -moz-box-shadow: 4px 4px 14px #4f4f4f;
    box-shadow: 4px 4px 14px #4f4f4f;
}

.responsive-wrapper {
    position: relative;
    height: 0;
    overflow: hidden;
}

    .responsive-wrapper img,
    .responsive-wrapper object,
    .responsive-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-style: none;
        padding: 0;
        margin: 0;
    }

/* css particular to this iframe */
#Iframe-Cicis-Menu-To-Go {
    max-width: 666.67px;
    max-height: 600px;
    overflow: hidden;
}

/* padding-bottom = h/w as % */
.responsive-wrapper-padding-bottom-90pct {
    padding-bottom: 90%;
}

#notedetails-left-heading {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

.notes-line {
    padding: 10px;
}

#line-1 {
    height: 0.5px;
    background-color: #d1d1d1;
}

#notes-items {
    margin-left: 8px;
}

    #notes-items ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }


/* Thank-You Popup */

.modal-dialog {
    padding-top: 10%;
}

.modal-content {
    height: 100% !important;
    overflow: visible;
}

.modal-body {
    height: 80%;
    overflow: auto;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    margin-bottom: 20px;
}

    .modal-title h3 {
        font-family: Open Sans;
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
        color: #6255a5;
    }

.modal-body h4 {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin-left: 10px;
}

.modal-body p {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    margin-left: 10px;
}

/* Dashboard Details */

/* Header Part */
#dash-heading-left {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    float: left;
}

#dash-heading-right {
    float: right;
}

#dash-heading-left h4 {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    float: left;
}

.dashboard-border {
    border: 1px solid #d1d1d1;
    padding: 30px 6px 15px 6px;
}

    .dashboard-border h3 {
        font-family: Open Sans;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        color: #6255a5;
    }

    .dashboard-border h3 a{
        font-family: Open Sans;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        color: #6255a5;
        text-decoration: none;
    }
    .dashboard-border p {
        font-family: Open Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        color: #333333;
    }

#my-earning-border {
    border-right: 1px solid #d1d1d1;
}

.flex-container {
    display: flex;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
}

    .flex-container div {
        padding: 28px 30px 15px 15px;
    }


    .flex-container #dash-item-1 {
        border-right: 1px solid #d1d1d1;
    }

#dash-flex h3 {
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
    text-align: center;
}

#dash-flex h3 a{
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
    text-align: center;
    text-decoration: none;
}


#dash-flex p {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    text-align: center;
}

/* Table Part */
#dash-left {
    float: left;
    margin-right: 10px;
}

#dash-right {
    float: right;
}

.table-bordered {
    border-right: none;
}

#dash-table {
    border: 1px solid #d1d1d1;
    margin: 0px;
    padding: 0px;
}

    #dash-table th a {
        text-decoration: none;
        color: #333333;
    }

#dash-img {
    margin-left: 10px;
}

.table {
    margin-bottom: 0px;
}

    .table tr {
        height: 50px;
        text-align: center;
    }

        .table tr:hover {
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        }

.row-color {
    color: #6255a5;
}

/* Add Notes */

/* Image Part */
#addnotes-header {
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    background-image: url('../User/Add-notes/banner-with-overlay.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}

#addnotes-title {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    color: #fff;
}

/* Basic Note Details */
.addnote-heading {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

#addnote-form-1 select,
#addnote-form-2 select {
    border: 1px solid #6255a5;
    height: 40px;
    border-radius: 3px;
}

    #addnote-form-1 select:focus,
    #addnote-form-2 select:focus {
        -webkit-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        border: 1px solid #6255a5;
    }

#discpton {
    border: 1px solid #6255a5;
    height: 153px;
    border-radius: 3px;
}

#addnote-form-1 img {
    height: 35px;
    position: absolute;
    top: 44%;
    left: 42%;
}

#addnote-form-3 img {
    height: 35px;
    position: absolute;
    top: 44%;
    left: 42%;
}

#addnote-form-3 textarea {
    border: 1px solid #6255a5;
    height: 120px;
    border-radius: 3px;
}

    #addnote-form-3 textarea:focus {
        -webkit-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        border: 1px solid #6255a5;
    }

/* My Download Page */
#ellipsis {
    color: #d1d1d1;
    font-size: 20px;
    margin-left: 5px;
}

.general-table td:nth-child(2) {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #6255a5;
}

.table_row_color a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #6255a5;
}

/* DropDown Menu */
.dropbtn {
    background-color: transparent;
    color: #d1d1d1;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover,
.dropbtn:focus {
     background-color: transparent;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    font-size: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #6255a5;
    color: #fff;
}

.show {
    display: block;
}

.dropdown-content a:hover {
    background-color: #6255a5;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}   


/* Add Review Modal */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input:checked ~ label {
        color: #ffc700;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

.table th {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #333333;
}

/* Contact Us */

/* Image Part */
#contactus-header {
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    background-image: url('../User/Contact-Us/banner-with-overlay.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}

#contactus-title {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    color: #fff;
}

.contactus-heading {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

.contactus-heading-bottom {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #333333;
}

#contact-us-form textarea {
    border: 1px solid #6255a5;
    height: 216px;
    border-radius: 3px;
}

    #contact-us-form textarea:focus {
        -webkit-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        border: 1px solid #6255a5;
    }

/* FAQ */
#faq-header {
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    background-image: url('../User/FAQ/banner-with-overlay.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}

#faq-title {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    color: #fff;
}

.faq-heading {
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

/* Accordion */
.faq-container {
    margin: 20px;
}

.accordion {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    margin-top: 15px;
}

    .accordion:hover {
        background-color: #eee;
    }

    .accordion:focus {
        outline: none;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

button.accordion.active {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    background-color: #fff;
    border-left: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-bottom: none;
}


.panel {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    padding: 0 18px;
    border: transparent;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

/* Header */
.navbar {
    padding: .8rem;
    width: 100%;
}

.navbar-nav {
    margin-right: 30px;
}

.navbar-nav li {
     padding-right: 20px;
 }

.nav-link {
    font-size: 1.1em;
}

.navbar-brand img {
    margin-left: 10px;
    width: 170px;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #fff !important;
}

.navbar-dark .navbar-nav .nav-item {
    margin-top: 15px;
}

    .navbar-dark .navbar-nav .nav-item img {
        margin-top: -10px;
    }

.btn-home-login {
    background-color: #fff;
    height: 30px;
    border-radius: 3px;
    color: #6255a5;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    border: none;
    outline: none;
    text-align: center;
}

.navbar-nav .nav-item #login-button-1 {
    margin-top: -10px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* White Header */

.general-navbar {
    padding: .76rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.navbar-nav {
    margin-right: 30px;
}

.navbar-nav li {
     padding-right: 20px;
}

.bg-light {
    background-color: #fff !important;
}

.bg-light .navbar-nav .nav-link {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #333333 !important;
}

.bg-light .navbar-nav .nav-item {
    margin-top: 10px;
}

.btn-nav-login {
    background-color: #6255a5;
    height: 30px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    border: none;
    outline: none;
    text-align: center;
}

.bg-light .navbar-nav .nav-item #login-button-1 {
    margin-top: -10px;
}

.navbar-user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -6px;
}


.nav-link {
    font-size: 1.1em;
}

.navbar-brand img {
    margin-left: 10px;
    width: 170px;
}

.active-1 {
    color: #6255a6 !important;
    border-bottom: 3px solid #6255a6;
    padding-bottom: 5px;
}

.bg-light .navbar-nav .nav-item {
    margin-top: 15px;
}

 .bg-light .navbar-nav .nav-item img {
        margin-top: -10px;
    }


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.Error {
    color: red;
    font-size: 10px;
}

input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error {
    border: 1px solid red;
}

#uploadpicture-error {
    color: red;
}

#uploadnotes-error {
    color: red;
}
